
/******************************
*         MEDIA QUERIES      *
******************************/

@media only screen and (max-width: 1199px) {
    #reviews .review .icon {
        top: 65px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        background: linear-gradient(#1B1F34, rgba(27, 31, 52, 0.8));
    }

    .navbar-dark .navbar-nav .nav-link {
        color: var(--white);
    }
    #reviews .review .icon {
        right: 50px;
    }
}

@media only screen and (max-width: 767px) {
    #reviews .review .icon {
        right: 25px;
        top: 25px;
    }
}

@media only screen and (max-width: 508px) {
    #about::after {
        width: 45%;
      }

    .btn {
        margin: 10px 20px 0;
        width: 200px;
    }
}