
/******************************
*        GOOGLE FONTS         *
******************************/

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

/******************************
*        GENERAL STYLES       *
******************************/

:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dela Gothic One', cursive;
    color: var(--white) ;
}

.title {
    font-size: 2rem;
    padding: 15px 0;
}

p {
    font-size: 1.1rem;
    margin: 25px 0;
    color: var(--white);
}

a {
    text-decoration: none;
    color: var(--body);
    transition: all .4s ease;
}

a:hover {
  color: var(--brand);
}

img {
    width: 100%;
}

section {
    padding-top: 160px;
    padding-bottom: 160px;
}

.btn {
    padding: 16px 32px;
    font-family: 'Dela Gothic One', cursive;
    border-radius: 0;
    transition: all 0.4s ease;
}

.btn-brand {
    background: var(--brand);
}

.btn-brand:hover {
    background: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand {
    background-color: transparent;
    border: 1px solid var(--brand);
}

.btn-outline-brand:hover {
    background-color: var(--brand);
}

.brand-color {
    color: var(--brand);
}

.social-links {
    transition: all .4s ease;
    opacity: 1;
}

.social-links a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg2);
    font-size: 1.2rem;
}

 .social-links a:hover{
   background: var(--brand);
   color: var(--bg1);
}

.social-links a:hover i{
   color: var(--bg2);
}


/******************************
*             NAVBAR          *
******************************/

.navbar {
  background: linear-gradient(#1B1F34, rgba(27, 31, 52, 0.2));
}

.navbar-brand {
    font-family: 'Dela Gothic One', cursive;
    font-size: 32px;
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}

/******************************
*          HERO SECTION       *
******************************/
#hero {
    background-image: linear-gradient(to bottom, #1B1F34, rgba(27, 31, 52, 0.0)), url("/assets/img/cover_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

/******************************
*        ABOUT SECTION        *
******************************/
#about {
    position: relative;
}

#about::after {
  content: "";
  width: 25%;
  height: 100%;
  background-color: var(--brand);
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#about h1 {
    margin: 19px 0 24px;
}

#about .signature {
   width: unset;
}

/******************************
*       SERVICES SECTION      *
******************************/

.link-more {
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-left-width: 1px;

}

.link-more:hover .icon {
    transform: translateX(8px);

}

.link-more .icon {
    transition: all .4s ease;
}

#services {
    background: var(--bg2);
}

#services .service {
    padding: 32px;
}

#services .service {
    padding: 32px;
}

.intro p {
    width: 70%;
    margin: 0 auto;
}

#services .btn,
#features .btn {
    margin: 0 20px 0;
}

/******************************
*       SERVICES SECTION      *
******************************/

#milestone {
    background-image: linear-gradient(to right, #1B1F34, rgba(27, 31, 52, 0.5)), url("/assets/img/cover_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/******************************
*       FEATURES SECTION      *
******************************/
#features  {
    background: var(--bg1);
}

#features .feature {
    display: flex;
}

#features .feature-icon {
    line-height: 1;
    margin-right: 15px;
}

#features p {
    font-size: 1rem;
}

/******************************
*         TEAM SECTION        *
******************************/
#team {
   background: var(--bg2);
}

#team .team-member {
    position: relative;
    cursor: pointer;
    background: var(--bg1);
}

#team .team-member .social-links {
    position: absolute;
    right: 25px;
    top: 25px;
    opacity: 0.3;
}

#team .team-member:hover .social-links {
    opacity: 1;
    top: 35px;
}

/******************************
*        REVIEWS SECTION      *
******************************/
#reviews {
    background: var(--bg1);
}

#reviews .review {
    padding: 32px;
    background: var(--bg2);
    position: relative;
}

#reviews .review img {
    width: 60px;
    border-radius: 50%;
}

#reviews .review h5 {
    width: 200px;
}

#reviews .review .user-details {
    margin-left: 15px;
}

#reviews .review .icon {
    width: 43px;
    height: 43px;
    background-color: var(--brand);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg2);
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 25px;
}

/******************************
*           BLOG SECTION      *
******************************/
#blog {
    background-color: var(--bg2);
}

#blog .blog-spot {
    position: relative;
}

#blog .blog-spot .date {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: var(--brand);
    width: 100px;
    height: 100px;
    color: var(--bg1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#blog .blog-spot .date .day {
    font-size: 2rem;
    font-family: 'Dela Gothic One', cursive;
    line-height: 1;
}

/******************************
*         BOOKING SECTION     *
******************************/
#booking {
    background-image: linear-gradient(to right, #1B1F34, rgba(27, 31, 52, 0.5)), url("/assets/img/cover_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#booking form {
    background-color: var(--bg1);
    padding: 32px;
}

#booking form .form-control {
    background-color: var(--bg2);
    border-radius: 0;
    margin-top: 16px;
    border-color: var(--bg2);
    border: 2px solid --bg2;
    cursor: pointer;
    color: var(--white);
}

#booking form input {
     height: 58px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    font-size: 1.3rem;
  }

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    font-size: 1.3rem;
  }

#booking form .form-control:focus {
   box-shadow: none;
}

/******************************
*          FOOTER SECTION     *
******************************/
footer .social-links {
    display: flex;
}

footer .social-links a{
   margin-right: 5px;
}

footer .footer-bottom hr {
    width: 90%;
    margin: 30px auto;
}

footer .footer-bottom p {
   font-size: 0.8rem;
}
