
/******************************
*        GOOGLE FONTS         *
******************************/

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

/******************************
*        GENERAL STYLES       *
******************************/

:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dela Gothic One', cursive;
    color: var(--white) ;
}

.title {
    font-size: 2rem;
    padding: 15px 0;
}

p {
    font-size: 1.1rem;
    margin: 25px 0;
    color: var(--white);
}

a {
    text-decoration: none;
    color: var(--body) ;
}

a:hover {
  color: var(--brand);
}

img {
    width: 100%;
}

section {
    padding-top: 160px;
    padding-bottom: 160px;
}

.btn {
    padding: 16px 32px;
    font-family: 'Dela Gothic One', cursive;
    border-radius: 0;
    transition: all 0.4s ease;
}

.btn-brand {
    background: var(--brand);
}

.btn-brand:hover {
    background: transparent;
    color: var(--brand);
    border-color: var(--brand);
}

.btn-outline-brand {
    background-color: transparent;
    border: 1px solid var(--brand);

}

.btn-outline-brand:hover {
    background-color: var(--brand);
}

.brand-color {
    color: var(--brand);

}

/******************************
*             NAVBAR          *
******************************/

.navbar {
  background: linear-gradient(#1B1F34, rgba(27, 31, 52, 0.2));
}

.navbar-brand {
    font-family: 'Dela Gothic One', cursive;
    font-size: 32px;
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}

/******************************
*          HERO SECTION       *
******************************/
#hero {
    background-image: linear-gradient(to bottom, #1B1F34, rgba(27, 31, 52, 0.0)), url("/assets/img/cover_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

/******************************
*        ABOUT SECTION        *
******************************/
#about {
    position: relative;
}

#about::after {
  content: "";
  width: 25%;
  height: 100%;
  background-color: var(--brand);
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;

}

#about h1 {
    margin: 19px 0 24px;
}

#about .signature {
   width: unset;
}

/******************************
*       SERVICES SECTION      *
******************************/

.link-more {
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-left-width: 1px;

}

.link-more:hover .icon {
    transform: translateX(8px);

}

.link-more .icon {
    transition: all .4s ease;
}

#services {
    background: var(--bg2);
}

#services .service {
    padding: 32px;

}

#services .service {
    padding: 32px;
}

.intro p {
    width: 70%;
    margin: 0 auto;
}

#services .btn,
#features .btn {
    margin: 0 20px 0;
}

/******************************
*       SERVICES SECTION      *
******************************/

#milestone {
    background-image: linear-gradient(to right, #1B1F34, rgba(27, 31, 52, 0.5)), url("/assets/img/cover_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/******************************
*       FEATURES SECTION      *
******************************/
#features .feature {
    display: flex;
}

#features .feature-icon {
    line-height: 1;
    margin-right: 15px;
}

#features p {
   font-size: 1rem;
}